[user]
	name = sam123bir
	email = sam.salek@hotmail.com
[alias]
	alias = ! git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /
	aco = ! git add --all && git commit -m
	acopu = "! f() { git add --all & git commit -m"$1" && git push; }; f"
	
[push]
	default = simple
